<nav class="navegacao">
  <div class="conteudo-sanduiche">
      <i class="fas fa-bars icone-sanduiche" aria-hidden="true"></i>
  </div>
  <ul>
      <a routerLink=""><i class="fas fa-taxi logo"></i><span class="mobi">MOBI</span></a>
      <li><a routerLink="/passageiro">Passageiro</a></li>
      <li><a routerLink="/motorista">Motorista</a></li>
      <li><a routerLink="/motoristas">Lista de Motoristas</a></li>
      <li><a routerLink="/passageiros">Lista de Passageiros</a></li>
      <li><a routerLink="/corridas">Lista de Corridas</a></li>
      <a routerLink="/login"><i class="fas fa-sign-in-alt icone-login"></i></a>
  </ul>
</nav>
<router-outlet></router-outlet>

