<section>
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-6 p-0">
              <img class="imagem-fundo" src="../../assets/imagens/cars-control-dashboard-142853.jpg">
          </div>
          <div class="col-md-6">
              <form>
                  <div class="convite" align="center">
                      <h4 class="text-warning">Espalhe alegria!</h4>
                      <h5>Se torne um de nossos motoristas</h5>
                  </div>
                  <div class="col-md-12 campos-motorista">
                      <input class="form-control" type="text" id="txtNome" name="txtNome" placeholder="Nome">
                      <input class="form-control" type="date" id="txtDataNascimento" name="txtDataNascimento"
                          placeholder="Data de Nascimento">
                      <input class="form-control" type="text" id="txtCpf" name="txtCpf" placeholder="CPF">

                      <input class="form-control" type="text" id="txtModeloCarro" name="txtModeloCarro"
                          placeholder="Modelo do Carro">
                      <input class="form-control" type="text" id="txtSexo" name="txtSexo" placeholder="Sexo">
                  </div>
                  <div class="col-md-12 mt-4" align="center">
                      <button type="button" class="btn btn-warning">Cadastrar</button>
                  </div>
                  <div class="col-md-12 mt-3" align="center">
                      <a href="#">Já sou cadastrado</a>
                  </div>
              </form>
          </div>

      </div>
  </div>
</section>