<div class="col-md-12" align="center">
    <div class="col-md-10 mt-5">
        <div class="card tabela-motoristas">
            <div class="card-body">
                <div class="col-md-12" style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Data de Nascimento</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Modelo do Carro</th>
                                <th scope="col">Sexo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let motorista of motoristas$ | async">
                                <td>{{motorista.id}}</td>
                                <td>{{motorista.nome}}</td>
                                <td>{{motorista.dataNascimento}}</td>
                                <td>{{motorista.cpf}}</td>
                                <td>{{motorista.modeloCarro}}</td>
                                <td>{{motorista.sexo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>