<div class="col-md-12" align="center" style="height: 530px">
    <div class="col-md-10" style="margin-top: 50px;">
        <div class="card tabela-motoristas">
            <div class="card-body">
                <div class="col-md-12" style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Data de Nascimento</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Sexo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let passageiro of passageiros$ | async">
                                <td>{{passageiro.nome}}</td>
                                <td>{{passageiro.dataNascimento}}</td>
                                <td>{{passageiro.cpf}}</td>
                                <td>{{passageiro.sexo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="error$ | async">
                        Erro ao carregar os passageiros. Tente novamente mais tarde.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-3 justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>