<div class="col-md-12" align="center">
    <div class="col-md-10 mt-5">
        <div class="card tabela-motoristas">
            <div class="card-body">
                <div class="col-md-12" style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Data de Nascimento</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Sexo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let passageiro of passageiros$ | async">
                                <td>{{passageiro.id}}</td>
                                <td>{{passageiro.nome}}</td>
                                <td>{{passageiro.dataNascimento}}</td>
                                <td>{{passageiro.cpf}}</td>
                                <td>{{passageiro.sexo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="error$ | async">
                        Erro ao carregar os passageiros. Tente novamente mais tarde.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>